@import "tailwindcss";

@theme{
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;
  --animate-fade-in: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
  --animate-meteor: meteor 5s linear infinite;

  @keyframes float {
    0%, 100%{transform: translateY(0);
    }
    50%{
      transform: translateY(-10);
    }
  }

  @keyframes pulse-subtle {
    0%, 100%{opacity: 1;
    }
    50%{
      opacity: 0.8;;
    }
  }

  @keyframes fade-in {
    from{
      opacity: 0;
      transform: translateY(20px);
    }
    to{
      opacity: 1;
      transform: translateY(0)
    }
  }

  @keyframes meteor {
    0%{
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70%{
      opacity: 1;
    }
    100%{
      transform: rotate(215deg) translateX(-500);
      opacity: 0;
    }
    
  }

}

@layer base {
  :root{
    --background : 210 40% 98%;
    --foregrund : 222 47% 11%;

    --card: 0 0% 100%;

    --primary: 250 47% 60%;
    --primary-foreground: 210 40% 98%;
    --border: 214 32% 91%;
  }
  :dark{
    --background : 222 47% 4%;
    --foregrund : 213 31% 91%;

    --card: 222 47% 8%;

    --primary: 250 65% 65%;
    --primary-foreground: 213 31% 91%;
    --border: 217 33% 20%; 
  }
}